@{
    ViewData["Title"] = "About us";
}
<h2>@ViewData["Title"]</h2>

<p>Do you like manga? Have you ever tried to write on? Or do you just love reading manga? This web site gives you the chance to do both! You can read manga written by other peaple and give your opinion if you liked it! And if you want to write your own , you can upload it here and ask for opinion people from all around the world!</p>
